<div class="container mt-3">
    <form [formGroup]="cadastroForm" (submit)="cadastrar()">
        <div class="form-group">
            <label for="nome">Nome</label>

            <input #nomeInput formControlName="nome" type="text" class="form-control" id="nome"
                aria-describedby="nomeHelp" placeholder="Ex: Breno Machado" autofocus>

            <app-mensagem-erro *ngIf="cadastroForm.get('nome').errors?.required" texto="O nome é obrigatório.">
            </app-mensagem-erro>

            <app-mensagem-erro *ngIf="cadastroForm.get('nome').errors?.apenasLetras"
                texto="O nome precisa conter apenas letras."></app-mensagem-erro>

            <app-mensagem-erro *ngIf="cadastroForm.get('nome').errors?.vazio"
                texto="O nome não pode conter apenas espaços."></app-mensagem-erro>

            <small id="emailHelp" class="form-text text-muted">Insira seu nome.</small>
        </div>

        <div class="form-group">
            <label for="email">Email</label>

            <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Ex: breno@email.com.br">

            <app-mensagem-erro *ngIf="cadastroForm.get('email').errors?.required" texto="O email é obrigatório.">
            </app-mensagem-erro>

            <app-mensagem-erro *ngIf="cadastroForm.get('email').errors?.email"
                texto="Informe um email válido no seguinte padrão: meuemail@provedor.com"></app-mensagem-erro>

            <app-mensagem-erro
                *ngIf="!cadastroForm.get('email').errors?.vazio && cadastroForm.get('email').errors?.emailIndisponivel; else mensagemSucesso"
                texto="O email informado já existe no sistema. Por favor, informe um novo email."></app-mensagem-erro>

            <ng-template #mensagemSucesso>
                <app-mensagem-sucesso texto="Email disponível!"></app-mensagem-sucesso>
            </ng-template>

            <small id="emailHelp" class="form-text text-muted">Insira seu endereço de email.</small>
        </div>

        <div class="form-group">
            <label for="senha">Senha</label>

            <input formControlName="senha" type="password" class="form-control" aria-describedby="senhaHelp" id="senha"
                placeholder="Senha">

            <app-mensagem-erro *ngIf="cadastroForm.get('senha').errors?.required" texto="A senha é obrigatória.">
            </app-mensagem-erro>

            <app-mensagem-erro *ngIf="cadastroForm.get('senha').errors?.minlength"
                texto="A senha precisa ter pelo menos 6 caracteres."></app-mensagem-erro>

            <small id="senhaHelp" class="form-text text-muted">Crie uma senha.</small>
        </div>

        <label for="tipo">Perfil</label>
        <div id="tipo" class="form-group">
            <div class="form-check form-check-inline" *ngFor="let perfil of opcoesPerfil">
                <input formControlName="tipo" class="form-check-input" type="radio" name="tipo" [id]="perfil.desc" [value]="perfil.valor" checked (click)="alterarPerfilFormulario(perfil.valor)">
                <label class="form-check-label" for="aluno">
                    {{ perfil.desc }}
                </label>
            </div>
        </div>

        <div class="form-group" *ngIf="cadastroForm.getRawValue().tipo == '2'">
            <label for="idade">Idade</label>
            <input formControlName="idade" type="number" class="form-control" id="idade" aria-describedby="idadeHelp"
                placeholder="Ex: 18">
            <app-mensagem-erro *ngIf="cadastroForm.get('idade').errors?.required" texto="A idade é obrigatória.">
            </app-mensagem-erro>
            <app-mensagem-erro *ngIf="cadastroForm.get('idade').errors?.max || cadastroForm.get('idade').errors?.min" texto="Informe uma idade entre 10 e 120 anos.">
            </app-mensagem-erro>
            <small id="idadeHelp" class="form-text text-muted">Insira sua idade.</small>
        </div>

        <div class="form-group" *ngIf="cadastroForm.getRawValue().tipo == '2'">
            <label for="formacao">Formação</label>
            <input formControlName="formacao" type="text" class="form-control" id="formacao"
                aria-describedby="formacaoHelp" placeholder="Ex: 18">
            <small id="formacaoHelp" class="form-text text-muted">Insira sua área de formação.</small>
        </div>


        <button [disabled]="cadastroForm.invalid || cadastroForm.pending" class="btn btn-primary">Criar conta</button>
    </form>
</div>